/*

	
}

.fa-diamond {
        display: block;
        float: right;
        margin: 55px;
        cursor: pointer;
      }

.bandnamelist {
	display: none;
	cursor: pointer;
	font-size: 50px;
}
.mybandnames {
	

}

ul.bandnamelist{
    width: 50%;
    border-top: 1px solid black;
}      

ul.bandnamelist li{

	width: 100%;
    border-bottom: 1px solid black;
	
}   



ul.main {
	display: block;
	font-family: 'Oswald', sans-serif;
	
	text-decoration: none;
	text-align: center;
}

ul.main li {
	display: inline-block;
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
	padding: 10px 25px 0px 0px;
	color: black;
	text-decoration: none;
}



ul.main li:hover {
	border: none;
	text-decoration: none;
	

}
.divider {
	border-top: solid 1px gray;
	padding: 10px;
}

a, a:visited{
     color:#313333;
     text-decoration: none;
}

a, a:visited{
     color:#313333;
     text-decoration: none;
}
*/